/***************************************
***************  TOP *******************
****************************************/

.top {
    text-align: center;
}

.top img {
    width: 100%;
    height: auto;
}

/***************************************
***************  LOGO *******************
****************************************/

.logo {
    background: #fff;
    border-radius: 100%;
    padding: 5px;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.logo img {
    width: 100%;
    border-radius: 100%;
    box-shadow: 0 2px 20px 0 rgba(60, 64, 67, 0.45);
}

/***************************************
***************  SEGMENT *******************
****************************************/

.segment {
    margin-top: 25px;
    text-align: center;
    line-height: 1;
}

.segment h1 {
    color: #0d0d1e;
    font-weight: 600;
    font-size: 2em;
}

.description {
    margin-top: 5px;
    font-size: 16px;
    padding: 0 10px;
}

.description p {
    color: #7a7a7a;
    font-size: 1em;
}

/***************************************
***************  INFORMAÇÕES ***********
****************************************/

.informations {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #0e0e1e;
    font-size: 1.1em;
}

.text-center {
    text-align: center;
}

.online {
    font-weight: bold;
    color: #045e1f;
}

.offline {
    font-weight: bold;
    color: #9c0606;
}

/***************************************
***************  MENU ***********
****************************************/

.bg-menu {
    background: rgba(247, 247, 247, 0.61);
}

.menu {
    padding: 15px;
}

.menu ul {
    list-style: none;
    display: flex;
    overflow-x: auto;
}

.menu li {
    padding: 8px;
    white-space: nowrap;
    background: #f3f3f3;
    margin: 0 10px;
    border-radius: 8px;
    border: 1px solid #e4e2e2;
}

.menu a {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875em;
}

/***************************************
***************  PESQUISA ***********
****************************************/

.search {
    background: #f6f6f6;
    padding: 10px;
    position: relative;
}

.search form {
    display: flex;
}

.search input {
    flex-basis: 90%;
    border: none;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.btn-search {
    flex-basis: 10% !important;
    background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAYEBAQFBAYFBQYJBgUGCQsIBgYICwwKCgsKCgwQDAwMDAwMEAwODxAPDgwTExQUExMcGxsbHCAgICAgICAgICD/2wBDAQcHBw0MDRgQEBgaFREVGiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICD/wAARCAAJAAkDAREAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAABgEH/8QAJhAAAQIEAwkAAAAAAAAAAAAAAwEEAAIFESEiMRIUJTRBVHOSsf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDexCOwOB06AWSoSF4rVdQkCt06KuTFLJs5NVtbEE+/Mu4H7ywFe8mfxzfIANAf/9k=) no-repeat center center;
    background-color: #fff !important;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    cursor: pointer;
}

/***************************************
***************  PROMOÇÃO ***********
****************************************/

.promotions {
    margin-top: 0px;
    padding: 20px 10px;
}

.promotions h2 {
    font-weight: 900;
    margin-bottom: 20px;
}

.promotion-items ul {
    list-style: none;
    display: flex;
    overflow-x: auto;
}

.promotion-items li {
    margin: 0 10px;
    font-weight: 700;
    margin-bottom: 15px;
    flex-basis: 50%;
}

.image-promotions {
    height: 150px;
    overflow: hidden;
}

.promotion-items img {
    margin-bottom: 5px;
    border-radius: 5px;
    height: auto;
    min-width: 200px;
    max-width: 100%;
}

.promotion-items p {
    margin-top: 5px;
}

/***************************************
***************  ITENS ***********
****************************************/

.items {
    margin-top: 0px;
    padding: 10px;
}

.items ul {
    margin-top: 10px;
    list-style: none;
    padding-right: 3px;
}

.items li {
    display: flex;
    padding: 11px 0;
    border-bottom: 1px solid #efefef;
}

.description-item {
    flex-basis: 64%;
}

.description-item a {
    text-decoration: none;
}

.image-item {
    flex-basis: 36%;
}

.image-item-round {
    text-align: right;
}

.image-item-round img {
    max-width: 80px !important;
    border-radius: 100% !important;
}

.image-item img {
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
}

.description-item a p {
    color: #4c4c4c;
    margin-top: 5px;
    font-size: 0.85em;
}

.item-product-price {
    font-weight: 700;
    font-size: 0.9em;
    margin: 5px 0;
    color: #34495e;
}

/***************************************
***************  RODAPÉ ***********
****************************************/

.bg-footer {
    background: #efefef;
    margin-top: 60px;
}

.footer {
    padding: 20px 0;
    text-align: center;
}

/***************************************
***************  DIALOG - PRODUTO ******
****************************************/

.ds-none {
    display: none;
}

.dialog {
    position: fixed;
    background: #fff;
    z-index: 99;
    height: 100%;
    bottom: -999px;
    opacity: 0;
}

.dialog-home-products {
    position: fixed;
    background: rgba(255, 255, 255, 0.836);
    z-index: 99;
    height: 100%;
    width: 100%;
    display: none;
}

.dialog-coupon-home {
    position: fixed;
    background: rgba(17, 17, 17, 0.59);
    z-index: 99;
    height: 100%;
    width: 100%;
}

.dialog-home-products img {
    width: 68px;
}

.close-coupon-home {
    padding: 10px;
    background: #d94352;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    margin: 5px;
    border: 2px solid #111;

}

.coupom-home {
    padding: 5px;
}

.close-coupon-home a {
    color: #f2f2f2;
    text-decoration: none;
}

.ds-flex {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal {
    padding: 5px;
}

.box-load {
    text-align: center;
}

/***************************************
*************** PAGE ******
****************************************/

.page-item {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.go-back {
    flex-basis: 10%;
}

.page-item-title {
    flex-basis: 90%;
    text-align: center;
}

.page-item-title h1 {
    font-size: 20px;
    margin-top: 10px;
}

.page-item-image {
    margin-top: 10px;
    text-align: center;
}

.page-item-image img {
    width: 100%;
}

.page-item-price {
    margin-top: 15px;
}

.page-product-description {
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    font-size: 1em;
    color: #4c4c4c;
}

/******************************************
*************** OPTIONS *******************
*******************************************/

.page-item-options {
    background: rgba(247, 247, 247, 0.61);
    padding: 20px;
    margin-top: 20px;
    color: #222222;
    font-family: "Roboto", sans-serif;
}

.page-item-options span {
    font-size: 0.875em;
}

.page-item-options ul {
    list-style: none;
    margin: 10px 0;
}

.page-item-options li {
    padding: 8px 0;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
}

.item-option {
    display: flex;
    justify-content: space-between;
}

/******************************************
*************** FLAVORS *******************
*******************************************/

.page-item-flavors {
    padding: 20px 0;
    margin-top: 5px;
    color: #222222;
    font-family: "Roboto", sans-serif;
}

.page-item-flavors span {
    font-size: 0.75em;
    color: #0d0d1e;
}

.page-item-flavors ul {
    list-style: none;
    margin: 10px 0;
}

.item-title-flavors {
    padding: 0 20px;
}

.page-item-flavors li {
    padding: 8px;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    border-radius: 8px;
    background: rgba(247, 247, 247, 0.61);
    margin-bottom: 9px;
}

.item-flavors p {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.item-flavors {
    position: relative;
}

.select-flavor {
    position: absolute;
    top: 0;
    right: 0;
    color: #ea1d2c;
    display: none;
}

/******************************************
*************** ADD ***********************
*******************************************/

.page-item-add {
    background: rgba(247, 247, 247, 0.61);
    padding: 20px;
    margin-top: 20px;
    color: #222222;
    font-family: "Roboto", sans-serif;
}

.page-item-add ul {
    margin-top: 10px;
    margin-bottom: 30px;
}

.page-item-add li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}

.item-add span {
    color: #ea1d2c;
}

.item-add-controller .plus {
    padding: 5px 10px;
    color: #ea1d2c;
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
}

.item-add-controller .down {
    padding: 5px 8px;
    color: #ea1d2c;
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
}

.item-add-controller input {
    border: none;
    outline: none;
    text-align: center;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 18px;
    background: transparent;
    width: 50px;
    max-width: 100%;
}

.page-item-observations {
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-item-observations p {
    margin-bottom: 10px;
}

.page-item-observations textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.page-item-buy {
    margin: 40px 0;
}

.page-item-buy form {
    border: 1px solid #e5e5e5;
    padding: 20px;
    width: 153px;
    border-radius: 2px;
}

.page-item-buy input {
    width: 45px;
    margin: 0 10px;
    color: #929292;
    font-weight: bold;
    font-style: italic;
    border: 0;
    text-align: center;
}

.page-item-buy span {
    color: #929292;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px;
}

.page-item-buy a {
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: 400;
    background: #02c588;
    text-align: center;
    border: 2px solid #07cf85;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0px 8px 10px 0 rgba(7, 207, 133, 0.3);
}

.page-item-buy i {
    background: url("../../assets/images/bg-buy.png") left center no-repeat;
    background-size: 13px;
    padding: 20px;
}

.bg-bag {
    background: #fff;
    padding: 10px;
    position: fixed;
    bottom: 59px;
    left: 0;
    width: 100vw;
    box-shadow: 0px 15px 35px #403d3d9c;
    border-radius: 10px 10px 0px 0;
}

.bag-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.little-bag {
    position: relative;
}

.little-bag span {
    border: 2px solid #111;
    padding: 5px 7px;
    font-size: 0.8em;
    border-radius: 100%;
    margin-left: 0px;
    position: absolute;
    top: -5px;
    font-weight: 600;
}

.buttom-bag {
    margin-left: 20px;
}

.buttom-bag a {
    text-decoration: none;
    color: #111111;
}

.box-load img {
    width: 80px;
}

/******************************************
*************** CHECKOUT ******************
*******************************************/

.checkout {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.checkout img {
    margin-right: 10px;
}

.checkout-title {
    margin-top: 8px;
    font-size: 20px;
}

.product-in-checkout {
    margin-top: 40px;
    flex: 1;
}

.product-in-checkout .row {
    margin: 10px 0;
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
}

.product-in-checkout p {
    font-size: 1em;
    font-weight: bold;
}

.product-in-checkout .col-1 span {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.checkout-amount-actions {
    display: flex;
    justify-content: space-between;
}

.checkout-amount-actions span {
    padding: 3px 10px;
    border: 1px solid #0d0d1e;
    border-radius: 100%;
    margin: -15px 10px;
    cursor: pointer;
}

.checkout-amount-actions span:hover {
    background-color: #007bff;
    color: #f7f7f7;
    border-color: #f7f7f7;
}

.remove-item {
    display: flex;
    justify-content: flex-end;
}

.remove-item span {
    padding: 5px 10px;
    border: 1px solid #0d0d1e;
    border-radius: 100%;
    margin: -15px 10px;
    color: #ea1d2c;
    cursor: pointer;
}

.check-sub-total {
    margin-top: 40px;
    margin-bottom: 100px;
}

.check-sub-total h3 {
    font-size: 18px;
    font-weight: 400;
}

.check-sub-total p {
    font-size: 1.2em;
}

.check-sub-total a {
    text-decoration: none;
    margin-top: 40px;
    display: block;
    border: 1px solid #0b8055;
    padding: 10px;
    width: 190px;
    color: rgb(251 251 251 / 93%);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

    background: #02c588;
    box-shadow: 0px 10px 10px #e5e5e5c9;
}

/******************************************
*************** CLIENT ******************
*******************************************/

.client-title {
    margin-top: 48px;
    font-size: 20px;
    margin-bottom: 40px;
}

.client-title h1 {
    font-weight: 400;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.client-form label {
    margin: 15px 0;
    display: block;
    text-align: left;
    font-size: 16px;
    text-align: center;
}

.client-form span {
    width: 100px;
    display: block;
    color: #0f0f1e;
    text-align: left;
}

.client-form input {
    width: 100%;
    color: #111;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #f7f7f7;
    font-size: 16px;
}

.client-form select {
    width: 100%;
    color: #111;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #f7f7f7;
    font-size: 16px;
}

.address .col-2 {
    margin-top: 10px;
    padding: 5px;
}

.orders-details {
    background: #fef9da;
    padding: 40px;
    font-family: "Roboto", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 40px;
}

.orders-details h2 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 40px;
}

.orders-details ul {
    list-style: none;
}

.orders-details li {
    margin-top: 15px;
}

.orders-details li div {
    display: flex;
    justify-content: space-between;
}

.order-total {
    margin-top: 30px;
}

.order-total p {
    margin: 20px 0 0 0;
}

.order-total .send {
    margin: 30px 0;
}

.order-total-payment {
    padding: 40px 0;
}

.orders-action-send {
    margin-top: 30px;
    margin-bottom: 120px;
}

.orders-action-send .btn-finished {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    padding: 15px 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 300px;
    display: block;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

/******************************************
*************** FOMIX ******************
*******************************************/
.fomix {
    height: 30vh;
    background: url("../images/capa.jpeg") top center no-repeat;
    background-size: cover;
    margin-top: 0px;
}

/******************************************
*************** SHOPS ******************
*******************************************/
.menu-shops {
    padding: 20px;
    background: #efefef61;
}

.menu-shops h1 {
    font-size: 20px;
    text-align: center;
}

/***************************************/
/***************** MENU ****************/
/***************************************/
.position {
    display: flex;
    justify-content: flex-end;
}

.menu-mobile {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
}

.menu-mobile label {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
    background: transparent;
    z-index: 10000;
}

.menu-mobile span {
    width: 30px;
    height: 8px;
    top: 15px;
    left: 5px;
    position: absolute;
    background: #0e1822;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 20px;
}

.menu-mobile span:before {
    content: "";
    width: 30px;
    height: 8px;
    bottom: -9px;
    background: #0e1822;
    position: absolute;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 20px;
}

.menu-mobile span:after {
    content: "";
    width: 30px;
    height: 8px;
    top: -9px;
    background: #0e1822;
    position: absolute;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 20px;
}

#check {
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 10;
    display: none;
}

#check:checked ~ span {
    background: transparent;
    top: 10px;
}

#check:checked ~ span:before {
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
    -moz-transform: translate(0px, 0px) rotate(-45deg);
    -ms-transform: translate(0px, 0px) rotate(-45deg);
    -o-transform: translate(0px, 0px) rotate(-45deg);
    transform: translate(0px, 0px) rotate(-45deg);
}

#check:checked ~ span:after {
    -webkit-transform: translate(0px, 20px) rotate(45deg);
    -moz-transform: translate(0px, 20px) rotate(45deg);
    -ms-transform: translate(0px, 20px) rotate(45deg);
    -o-transform: translate(0px, 20px) rotate(45deg);
    transform: translate(0px, 20px) rotate(45deg);
}

#check:checked ~ label {
    border-radius: 50%;
}

.navegation-mobile-list {
    background: #fff;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    box-shadow: 2px 0 3px 0 #a3a3a3b3;
    color: #fff;
    z-index: 99;
}

.navegation-mobile-list ul {
    list-style: none;
    padding: 20px;
}

.navegation-mobile-list ul {
    list-style: none;
    padding: 20px;
}

.navegation-mobile-list li {
    margin: 10px 0;
    font-size: 0.9em;
}

.navegation-mobile-list a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0;
    display: block;
    padding: 12px 12px 12px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media a {
    border: none;
}

.title-menu {
    text-align: center;
}

.dialog-account {
    position: fixed;
    z-index: 999;
    top: 0;
}

.modal-acount-enterpise {
    display: flex;
    padding: 10px;
    background: rgba(255, 255, 255, 1) !important;
    height: 100vh;
    align-items: center;
}

.home_optin_content_flex {
    text-align: center;
}

.home_optin_content_flex span {
    font-size: 3em;
    color: #111;
}

.home_optin_content_flex p {
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: 100;
}

.accont-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #222;
}

.accont-bt {
    background: #008cd4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 32px;
    margin-right: 23px;
    border-radius: 50px;
    box-shadow: -8px 0 #12478f;
    transition: all ease 1000ms;
    font-size: 0.8em;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-top: 15px;
    display: block;
    width: 200px;
}

.accont-bt:hover {
    background: #00bed4;
    box-shadow: 12px 0 #12478f;
    transition: all ease 1000ms;
    color: #fff;
}

.accont-enterprise p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 100;
}

.accont-enterprise input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #222;
}

.load-account {
    margin: 5px auto;
    width: 100px;
    display: none;
}

.box-icon {
    text-align: center;
}

.box-icon span {
    font-size: 3em;
    text-align: center;
}

.success-account {
    padding: 10px;
    margin: 10px auto;
    width: 95%;
    border: 2px solid #0da475;
    background: #26c38a;
    color: #fff;
    border-radius: 8px;
    display: none;
}

.products-ajax {
    position: absolute;
    top: 68px;
    width: 98%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 10px;
    box-shadow: 1px -2px 50px #cccccc5c;
    display: none;
}

.products-ajax ul {
    list-style: none;
}

.products-ajax li {
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    border-bottom: 1px solid #e8e1e17d;
}

.image-filter {
    flex-basis: 20%;
}

.image-filter img {
    max-width: 100%;
    border-radius: 8px;
}

.product-filter {
    margin-left: 10px;
    flex-basis: 80%;
}

.product-filter p {
    margin-top: 5px;
    color: #1d2025;
}

.product-filter a {
    color: #1d2025;
    text-decoration: none;
}

.btn-refresh {
    background-color: #f5b946 !important;
    border: 0 !important;
    margin-bottom: 0 !important;
}

.btn-next-sale {
    background-color: #39aed9 !important;
    border: 0 !important;
    margin-bottom: 0 !important;
}

.div-svg-status {
    position: relative;
    right: 0px;
    height: 70px;
    width: 70px;
}

.svg-status {
    padding: 10px;
    background: #dad8d8;
    color: #ffffff;
    border-radius: 10px;
}

.request-detail {
    text-align: center !important;
    padding: 15px;
    font-size: 16px;
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

.required {
    background: #f7f7f7 !important;
}

.text-status {
    text-align: center;
    width: 70%;
    height: 70px;
    line-height: 55px;
    font-size: 16px;
    font-family: "roboto", "Trebuchet MS", sans-serif;
    margin-right: 5%;
    border-radius: 10px;
    padding: 8px;
    font-weight: 900;
    color: #929292;
}

.status-complete {
    background: rgb(159, 255, 252);
    background: radial-gradient(
            circle,
            rgba(159, 255, 252, 1) 0%,
            rgba(70, 223, 252, 1) 100%
    );
    color: green;
}

.status-tex-complete {
    color: #fff;
    background: #2ecc71 !important;
    border: 1px solid #1f9551;
    margin-bottom: 10px;
}

.segments-types {
    text-align: center;
    padding: 15px 0;
}

.segments-types p {
    color: #212529;
    margin: 10px 0;
    font-width: 100 !important;
    font-size: 18px;
}

.logo-black {
    margin: 20px;
}

.bg-segments-types {
    background: #f7f7f7b3;
    background-size: cover;
    min-height: 100vh;
}

.box-buttom a {
    text-decoration: none;
}

.box-buttom {
    padding: 10px;
    background: #fff;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 2px #f3f0f0;
    border-radius: 8px;
    min-height: 150px;
    border: 1px solid #111;
}

#request_observation {
    width: calc(100% - 20px);
    margin: 10px;
    font-size: 16px;
    font-family: "roboto", "Trebuchet MS", sans-serif;
    padding: 5px;
}

#request_observation_label {
    width: calc(100%);
    text-align: center;
    font-size: 16px;
    font-family: "roboto", "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #4c4c4c;
}

.go-back-footer {
    background: #f8fafb;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
}

.go-back-footer a {
    text-decoration: none;
    color: #374957;
}

.go-back-footer img {
    width: 40px;
    padding: 10px;
}

.go-back-footer span {
    width: 100%;
    display: block;
    font-size: .5em;
}

.go-back-footer .row {
    justify-content: space-around;
}

.mb img {
    margin-bottom: 9px;
}

.autocomplete {
    position: relative;
}

#autocomplete-result {
    position: absolute;
    background-color: #fbfbfb;
    border-radius: 6px;
    box-shadow: 3px 2px 7px 3px #ccc;
}

#autocomplete-result ul {
    padding: 0;
    margin: 0;
}

#autocomplete-result ul li {
    border-bottom: 1px solid rgb(223, 219, 219);
    list-style: none;
    padding: 8px 10px;
}

.close-enterprise {
    background: rgb(255 255 255 / 74%);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;
    display: none;
    align-items: center;
}

.close-enterprise .modal-close-enterprise {
    width: 90%;
    background: #ea1d2c;
    border-radius: 10px;
    box-shadow: 4px 4px 9px rgb(0 0 0 / 20%);
    border: 2px solid #e74c3c;
    margin: 0 auto;
    padding: 10px;
}

.close-enterprise a {
    margin: 15px auto;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    padding: 15px 10px;
    border: 1px solid #007bff;
    border-radius: 8px;
    background: #3498db;
    max-width: 250px;
}

input.btn-cities {
    margin-top: 20px;
    cursor: pointer;
    background: #2ecc71;
    color: #fff;
    box-shadow: -1px 4px 8px 1px #e7e5e5fa;
    border: 2px solid #22a95b;
}

.free {
    background: #25d26e;
    color: #fff !important;
    width: 126px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #27864f;
}

.coupom {
    display: flex;
    margin: 25px 0;
    padding: 10px 0;
    cursor: pointer;
}

.stamp-coupom {
    width: 51px;
}

.coupom-code p {
    margin-top: 0;
    font-weight: bold;
    color: #3e3e3e;
    margin-bottom: -5px;
    margin-left: 10px;
}

.coupom-code span {
    width: 100%;
    color: #717171;
    margin-left: 10px;
    display: block;
    font-size: .75em;
}

.dialog-coupon {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-coupon {
    width: 80%;
    background: #ffffff;
    border: 1px solid #f7f7f7;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 20px;
}

.title-cupom-box {
    display: flex;
    padding: 10px;
    height: 125px;
    justify-content: space-around;
    text-align: center;
}

.image-coupon img {
    width: 80px;
}

.voucher-card--terms {
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
}

.voucher {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 40px;
    display: block;
}

.voucher a {
    padding: 10px;
    text-decoration: none;
    color: #ea1d2c;
    border-radius: 4px;
    border: 1px #ea4335 solid;
}

.voucher a:hover {
    background: #ea4335;
    color: #ffffff;
}

.voucher-card--terms a {
    color: #ea1d2c;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: left;
    text-decoration: none;
}

.voucher-card--terms p {
    margin-top: 0;
}

.close-coupon {
    text-align: right;
    margin-left: 20px;
}

.close-coupon a {
    padding: 5px 8px;
    font-size: .75em;
    text-decoration: none;
    color: #111;
    border-radius: 100%;
    border: 1px solid #111;
}

.message-alert {
    margin: 10px auto;
    width: 90%;
    padding: 5px 10px;
    border: 1px solid #f30b0b;
    border-radius: 4px;
    display: none;
    text-align: center;
}

.message-apply {
    margin: 10px auto;
    width: 90%;
    padding: 5px 10px;
    border: 1px solid #2ce30b;
    border-radius: 4px;
    display: none;
    text-align: center;
}

.voucher-load {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: none;
    width: 100px;
}

.ajax-apply-coupon {
    margin-bottom: 20px;
    margin-top: 20px;
}

.mix {
    display: flex;
}

.mix-coupon {
width: 170px;
    margin: 5px;
    background: #E0E7ED;
    border-radius: 10px;
}
.mix-coupon img{
    max-width: 80px;
}
.mix-coupon span {
    padding: 5px;
    font-size: 14px;
    color: #3C6E89;
}
.fomix-cities{
    margin: 0 auto;
    width: 180px;
}
.client-form {
    margin-bottom: 112px;
}
.buttom-cities a {
    padding:15px  10px;
    text-align: center;
    margin: 20px;
    background: #f7f7f7;
    display: block;
    border-radius: 8px;
    text-decoration: none;
    color: #222;
    border: 1px solid #efefef;
}
.shop-close-home{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE */
    opacity: 0.5;

}
.shop-open-home{
    border: 2px solid #f1610f !important;
    padding: 2px;
    box-shadow: 2px 2px 2px #ccc;
}
.bottom-adjustment{
    margin-bottom: 120px;
}


/*
PROFILE
*/
.feed-enterprise{
    padding: 15px;
}
.feed-title{
    font-size: 25px;
    font-weight: 600;
    margin-left: -35px;
}
.feed-enterprise ul {
    list-style: none;
    display: flex;
    overflow-x: auto;
}


.profile-enterprise-content {
    width: 100%;
    width: 155px !important;
  }
  .profile-enterprise-image{
    width: 30px;
    margin-right: 5px;
    border: 2px solid #f1610f!important;
    padding: 2px;
    border-radius: 100%;
  }
  .profile-enterprise-image img{
      border-radius: 100%;
  }
  .list-itens-feed img{
      border-radius: 8px;
      width: 100%;
      max-width: 140px;
  }
.line-feed{
    background: #efefef;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.profile-feed-read img{
    border-radius: 100%;
}
.section-profile{
    padding: 30px 0;
}
.feed-read{
    align-items: center;
}
.feed-read img{
    margin-right: 10px;
}
.actions-feed-user{
    background: #f7f7f76b;
    padding: 15px 2px;
    justify-content: space-around;
}
.actions-feed-user img{
    width: 20px;
}
.actions-feed-user a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #183153;
}
.share-feed{
    margin-left: 50px;;
}
.feed-text {
    padding: 15px;
    font-size: 1em;
    color: #262626;
    font-weight: 400;
}

li.place-item span {
    color: #ea1d2c;
    margin-bottom: 4px;
    font-weight: 600;
    width: 100%;
}
li.place-item{
    color: #717171;
}
.bg-delivery-free{
    background: rgba(255,148,0,0.80);
}
.bg-delivery-free p{
    padding: 10px;
    margin-top: 0;
    font-weight: 600;
    font-size: .85em;
}
